{{ partial "header.html" . }}

<div class="content-wrapper">
{{if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <ul>
     {{ $pages := .Site.RegularPages }}
     {{ if .IsHome }}{{ $pages := .Site.RegularPages }}{{ end }}
     {{ range (where $pages "Section" "!=" "") }}
     <li>
       <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
       <span class="date">{{ .Date.Format "2006-01-02" }}</span>
     </li>
     {{ end }}
   </ul>
</div>
{{ partial "footer.html" . }}
